.su-heading-style-default {
	padding: 2px 0px; border-top-color: rgb(153, 153, 153); border-bottom-color: rgb(153, 153, 153); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
.su-heading-style-default .su-heading-inner {
	padding: 1em 0.5em; border-top-color: rgb(238, 238, 238); border-bottom-color: rgb(238, 238, 238); border-top-width: 4px; border-bottom-width: 4px; border-top-style: solid; border-bottom-style: solid;
}
.su-heading.su-heading-align-left {
	text-align: left;
}
.su-heading.su-heading-align-left .su-heading-inner {
	padding-left: 0.2em;
}
.su-heading.su-heading-align-right {
	text-align: right;
}
.su-heading.su-heading-align-right .su-heading-inner {
	padding-right: 0.2em;
}
.su-heading.su-heading-align-center {
	text-align: center;
}
.su-divider {
	border: currentColor; border-image: none; text-align: right; line-height: 1; clear: both;
}
.su-divider a {
	padding-bottom: 5px; font-size: 0.8em; text-decoration: none; display: inline-block;
}
.su-divider-style-default {
	border-bottom-style: solid;
}
.su-divider-style-dotted {
	border-bottom-style: dotted;
}
.su-divider-style-dashed {
	border-bottom-style: dashed;
}
.su-divider-style-double {
	border-bottom-style: double;
}
.su-spacer {
	height: 0px; overflow: hidden; clear: both; display: block;
}
.su-spacer-5 {
	height: 5px;
}
.su-spacer-10 {
	height: 10px;
}
.su-spacer-20 {
	height: 20px;
}
.su-spacer-30 {
	height: 30px;
}
.su-spacer-40 {
	height: 40px;
}
.su-highlight {
	padding: 1px 0px; display: inline;
}
.su-label {
	padding: 0.1em 0.3em; border-radius: 3px; height: 0.8em; color: rgb(255, 255, 255); line-height: 0.8em; font-size: 0.8em; margin-right: 0.3em; display: inline; -moz-border-radius: 3px; -webkit-border-radius: 3px;
}
.su-label-type-default {
	background: rgb(153, 153, 153);
}
.su-label-type-success {
	background: rgb(0, 153, 0);
}
.su-label-type-warning {
	background: rgb(255, 153, 0);
}
.su-label-type-important {
	background: rgb(255, 0, 51);
}
.su-label-type-black {
	background: rgb(17, 17, 17);
}
.su-label-type-info {
	background: rgb(0, 153, 204);
}
.su-dropcap {
	margin: 0.2em 0.5em 0.2em 0px; width: 2em; height: 2em; text-align: center; text-transform: uppercase; line-height: 2em; overflow: hidden; float: left; display: inline-block;
}
.su-dropcap-style-default {
	background: linear-gradient(rgba(69, 72, 77, 1) 0%, rgba(0, 0, 0, 1) 100%); border-radius: 50%; color: rgb(255, 255, 255); text-shadow: -1px -1px 0px #000; -moz-border-radius: 50%; -webkit-border-radius: 50%; -moz-text-shadow: -1px -1px 0 #000; -webkit-text-shadow: -1px -1px 0 #000;
}
.su-dropcap-style-flat {
	background: rgb(68, 68, 68); color: rgb(255, 255, 255);
}
.su-dropcap-style-light {
	background: linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(234, 234, 234, 1) 100%); border-radius: 50%; color: rgb(51, 51, 51); -moz-border-radius: 50%; -webkit-border-radius: 50%;
}
.su-dropcap-style-simple {
	width: 1em; height: 1em; text-align: left; line-height: 1em;
}
.su-frame {
	display: block;
}
.su-frame-inner {
	display: block;
}
.su-frame-align-left {
	margin: 0px 1em 1em 0px; float: left;
}
.su-frame-align-center {
	margin: 1em auto; float: none;
}
.su-frame-align-right {
	margin: 0px 0px 1em 1em; float: right;
}
.su-frame img {
	margin: 0px !important; padding: 0px !important; border: currentColor !important; border-image: none !important; float: none !important; display: block !important; box-shadow: none !important;
}
.su-frame-style-default {
	background: rgb(255, 255, 255); padding: 2px; border: 1px solid rgb(153, 153, 153); border-image: none; box-shadow: 1px 1px 4px #ccc; -webkit-box-shadow: 1px 1px 4px #ccc; -moz-box-shadow: 1px 1px 4px #ccc;
}
.su-frame-style-default .su-frame-inner {
	padding: 2px; border: 4px solid rgb(238, 238, 238); border-image: none;
}
.su-list ul {
	list-style: none !important; margin: 0px 0px 1.5em !important; padding: 0px !important;
}
.su-list ul li {
	margin: 0px !important; padding: 4px 0px 4px 2em !important; line-height: 1.3em; display: block !important; list-style-type: none !important; position: relative;
}
.su-list ul li > img {
	margin: 0px; padding: 0px; border: currentColor; border-image: none; left: 0px; top: 4px; width: 1.3em; height: 1.3em; position: absolute;
}
.su-list ul li i {
	left: 0px; top: 4px; width: 1.3em; height: 1.3em; text-align: center; line-height: 1.3em; position: absolute;
}
.su-button {
	transition:0.2s; text-align: center; text-decoration: none !important; display: inline-block !important; box-sizing: content-box !important; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; -webkit-transition: all .2s; -moz-transition: all .2s; -o-transition: all .2s; -ie-transition: all .2s;
}
.su-button-wide {
	margin: 1em 0px; display: block !important;
}
.su-button-center {
	text-align: center;
}
.su-button span {
	transition:0.2s; text-decoration: none !important; display: block !important; box-sizing: content-box !important; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; -webkit-transition: all .2s; -moz-transition: all .2s; -o-transition: all .2s; -ie-transition: all .2s;
}
.su-button img {
	margin: -0.2em 0.4em 0px -0.3em !important; border: currentColor !important; border-image: none !important; vertical-align: middle !important; box-shadow: none !important; -webkit-box-shadow: none; -moz-box-shadow: none;
}
.su-button i {
	margin: 0px 0.5em 0px 0px !important; width: 1em; height: 1em; text-align: center; line-height: 1em; display: inline-block;
}
.su-button.su-button-float-icon img {
	margin: 0px 0.5em !important;
}
.su-button small {
	margin: -0.2em 0px 0px; text-align: center; color: inherit; line-height: 1; font-size: 0.8em; font-style: normal; display: block; opacity: 0.7;
}
@media screen and (max-width:768px)
{
.su-button span {
	line-height: 1.2 !important; padding-top: 0.25em !important; padding-bottom: 0.25em !important;
}
.su-button small {
	margin-top: 0.2em !important;
}
}
.su-button-style-default {
	border-width: 1px; border-style: solid;
}
.su-button-style-default:hover {
	opacity: 0.7; -moz-opacity: 0.7; -khtml-opacity: 0.7;
}
.su-button-style-default span {
	border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
.su-button-style-flat {
	border: currentColor; border-image: none;
}
.su-button-style-flat span {
	border: currentColor; border-image: none;
}
.su-button-style-flat span {
	position: relative;
}
.su-button-style-flat:hover span {
	top: 1px;
}
.su-button-style-ghost {
	background: none !important;
}
.su-button-style-ghost span {
	border-width: 3px; border-style: solid;
}
.su-button-style-ghost:hover span {
	border-color: inherit !important;
}
.su-button-style-soft span {
	background: url("../images/styles/style-soft.png") repeat-x 0px -20px;
}
.su-button-style-soft:hover span {
	background: url("../images/styles/style-soft.png") repeat-x 0px 0px;
}
.su-button-style-glass span {
	background: url("../images/styles/style-glass.png") repeat-x 0px 50%;
}
.su-button-style-glass:hover span {
	background: url("../images/styles/style-glass.png") repeat-x 100% 50%;
}
.su-button-style-bubbles span {
	background: url("../images/styles/style-bubbles.png") no-repeat 0px 50%;
}
.su-button-style-bubbles:hover span {
	background: url("../images/styles/style-bubbles.png") no-repeat -710px 50%;
}
.su-button-style-noise span {
	background: url("../images/styles/style-noise.png") repeat-x 0px 0px;
}
.su-button-style-noise:hover span {
	background: url("../images/styles/style-noise.png") repeat-x 0px 0px;
}
.su-button-style-stroked span {
	margin: 1px; border: 1px dashed rgb(255, 255, 255) !important; border-image: none !important;
}
.su-button-style-stroked:hover span {
	opacity: 0.7; -moz-opacity: 0.7; -khtml-opacity: 0.7;
}
.su-button-style-3d {
	border-bottom-width: 6px; border-bottom-style: solid;
}
.su-button-style-3d span {
	border-bottom-width: 1px; border-bottom-style: solid;
}
.su-button-style-3d:hover {
	top: 3px; border-bottom-width: 3px; position: relative;
}
.su-table {
	width: 100%; margin-bottom: 1.5em;
}
.su-table table {
	margin: 0px !important; border: 1px solid rgb(204, 204, 204) !important; border-image: none !important; width: 100% !important; font-size: 1em !important; border-collapse: collapse !important;
}
.su-table.su-table-responsive {
	-ms-overflow-x: auto;
}
.su-table.su-table-responsive table {
	width: auto !important;
}
.su-table th {
	background: rgb(240, 240, 240) !important; padding: 1em !important; border: 1px solid rgb(204, 204, 204) !important; border-image: none !important; text-align: center !important; color: rgb(51, 51, 51) !important; font-size: 1em !important; font-weight: normal !important;
}
.su-table td {
	background: rgb(255, 255, 255) !important; padding: 0.5em 1em !important; border: 1px solid rgb(204, 204, 204) !important; border-image: none !important;
}
.su-table .su-even td {
	background: rgb(247, 247, 247) !important;
}
.su-qrcode {
	display: inline-block;
}
.su-qrcode-align-left {
	margin: 0px 0.5em 0.5em 0px; float: left;
}
.su-qrcode-align-center {
	margin: 1em auto; text-align: center; clear: both; display: block;
}
.su-qrcode-align-right {
	margin: 0px 0px 0.5em 0.5em; float: right;
}
.su-qrcode a {
	background: none; text-decoration: none; display: inline;
}
.su-qrcode a:hover {
	background: none; text-decoration: none; display: inline;
}
.su-qrcode a:active {
	background: none; text-decoration: none; display: inline;
}
.su-qrcode a:focus {
	background: none; text-decoration: none; display: inline;
}
.su-qrcode-clickable a:hover {
	opacity: 0.7;
}
.su-qrcode img {
	max-width: 100%;
}
