body .metaslider .coin-slider {
	list-style: none; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: normal; max-height: none; max-width: none;
}
body .metaslider .nivoSlider {
	list-style: none; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: normal; max-height: none; max-width: none;
}
body .metaslider .nivoSlider img {
	list-style: none; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: normal; max-height: none; max-width: none;
}
body .metaslider .rslides {
	list-style: none; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: normal; max-height: none; max-width: none;
}
body .metaslider .rslides li {
	list-style: none; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: normal; max-height: none; max-width: none;
}
body .metaslider .flexslider ul.slides {
	list-style: none; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: normal; max-height: none; max-width: none;
}
body .metaslider .flexslider .slides li {
	list-style: none; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: normal; max-height: none; max-width: none;
}
body .metaslider .flexslider .slides ul {
	list-style: none; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: normal; max-height: none; max-width: none;
}
body .metaslider .flexslider .slides ol {
	list-style: none; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: normal; max-height: none; max-width: none;
}
body .metaslider .flexslider .slides img {
	list-style: none; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: normal; max-height: none; max-width: none;
}
body .metaslider .flexslider .flex-direction-nav {
	list-style: none; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: normal; max-height: none; max-width: none;
}
body .metaslider .flexslider .flex-direction-nav li {
	list-style: none; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: normal; max-height: none; max-width: none;
}
.metaslider {
	position: relative; z-index: 0;
}
.metaslider .caption {
	padding: 5px 10px; -ms-word-wrap: break-word;
}
.metaslider .caption-wrap {
	background: black; margin: 0px; left: 0px; width: 100%; bottom: 0px; color: white; line-height: 1.4em; display: block; position: absolute; opacity: 0.7;
}
.metaslider img {
	margin: 0px; padding: 0px; height: auto; -moz-user-select: none;
}
.metaslider a {
	
}
.metaslider.ms-left {
	margin: 0px 20px 20px 0px; float: left;
}
.metaslider.ms-right {
	margin: 0px 0px 20px 20px; float: right;
}
.metaslider li::before {
	margin: 0px !important; bottom: auto !important; display: none !important; content: "" !important;
}
.metaslider li::after {
	margin: 0px !important; bottom: auto !important; display: none !important; content: "" !important;
}
.metaslider .caption-wrap .caption img {
	width: auto;
}
.metaslider .slides img {
	width: 100%; display: block;
}
.metaslider .flexslider {
	background: none; margin: 0px 0px 40px; border: 0px currentColor; border-image: none; max-height: none; max-width: none; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -o-box-shadow: none;
}
.metaslider .flex-control-nav {
	list-style: none; margin: auto; padding: 0px; border: 0px currentColor; border-image: none; bottom: -27px; line-height: 11px; z-index: 2;
}
.metaslider .flex-control-nav li {
	margin: 0px;
}
.metaslider .flex-control-nav li a {
	margin: 0px 6px; padding: 0px;
}
.metaslider .flexslider .slides li {
	height: auto; position: relative;
}
.metaslider .flex-viewport {
	direction: ltr;
}
.metaslider .flex-direction-nav a {
	transition:0.3s; -moz-transition: all .3s ease;
}
.metaslider .flexslider .slides p {
	margin: 0px;
}
.metaslider .flexslider.filmstrip {
	margin-top: 10px;
}
.metaslider .flexslider.filmstrip .slides li {
	cursor: pointer; opacity: 0.5;
}
.metaslider .flexslider.filmstrip .slides li.flex-active-slide {
	opacity: 1 !important;
}
.metaslider .flexslider.filmstrip .slides li:hover {
	opacity: 1 !important;
}
.metaslider .flexslider.filmstrip .slides li:focus {
	opacity: 1 !important;
}
.metaslider .flex-control-thumbs li {
	width: auto;
}
.metaslider ol.flex-control-thumbs img {
	margin: 10px 5px 0px; width: auto;
}
#content .metaslider ol.flex-control-thumbs img {
	margin: 10px 5px 0px; width: auto;
}
.metaslider.nav-hidden .flexslider {
	margin-bottom: 0px;
}
.metaslider.nav-hidden.add-margin .flexslider {
	margin-bottom: 40px;
}
.metaslider .flexslider .flex-direction-nav li a::before {
	content: none !important;
}
.metaslider .flexslider .flex-direction-nav li a {
	margin: -20px 0px 0px; border: 0px currentColor; transition:0.3s; border-image: none; top: 50%; width: 30px; height: 30px; text-indent: -9999px; display: block; position: absolute; z-index: 10; cursor: pointer; opacity: 0; box-shadow: none !important; background-image: url("../sliders/flexslider/bg_direction_nav.png"); background-repeat: no-repeat; background-color: transparent; -webkit-transition: all .3s ease; -moz-transition: opacity .25s ease-in-out;
}
.metaslider .flex-direction-nav .flex-next {
	background-position: left 0px;
}
.metaslider .flex-direction-nav .flex-next {
	background-position: right 0px; text-align: left; text-indent: 9999px;
}
.metaslider .flexslider:hover .flex-next {
	right: 5px; opacity: 0.8;
}
.metaslider .flexslider:hover .flex-prev {
	left: 5px; text-indent: -9999px; opacity: 0.8;
}
.metaslider .flexslider:hover .flex-next:hover {
	opacity: 1;
}
.metaslider .flexslider:hover .flex-prev:hover {
	opacity: 1;
}
.metaslider .flexslider .flex-direction-nav .flex-disabled {
	cursor: default; pointer-events: none;
}
.metaslider .flexslider .flex-control-nav a {
	box-shadow: none !important;
}
.metaslider .flexslider .slides > li {
	position: relative;
}
.metaslider .rslides_nav {
	box-shadow: none !important;
}
.metaslider .rslides_tabs a {
	box-shadow: none !important;
}
.metaslider .rslides_tabs {
	margin: 0px 0px 40px;
}
.metaslider .rslides_nav:focus {
	color: rgb(255, 255, 255);
}
.metaslider .rslides_nav:hover {
	color: rgb(255, 255, 255);
}
.metaslider .theme-default .nivoSlider {
	box-shadow: 0px 0px 0px; -webkit-box-shadow: 0 0 0; -moz-box-shadow: 0 0 0;
}
.metaslider .slider-wrapper .nivo-directionNav a {
	list-style: none; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: normal; max-height: none; max-width: none; box-shadow: none;
}
.metaslider .slider-wrapper .nivo-controlNav a {
	list-style: none; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: normal; max-height: none; max-width: none; box-shadow: none;
}
.metaslider .slider-wrapper img {
	list-style: none; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: normal; max-height: none; max-width: none; box-shadow: none;
}
.metaslider .slider-wrapper .nivo-controlNav a {
	transition:none;
}
.metaslider .coin-slider {
	overflow: hidden; max-width: 100%;
}
.metaslider .coin-slider .cs-buttons a {
	box-shadow: none !important;
}
.metaslider .coin-slider > a {
	box-shadow: none !important;
}
