.theme-default .nivoSlider {
	position: relative; box-shadow: 0px 1px 5px 0px #4a4a4a; -webkit-box-shadow: 0px 1px 5px 0px #4a4a4a; -moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
}
.theme-default .nivoSlider img {
	left: 0px; top: 0px; display: none; position: absolute;
}
.theme-default .nivoSlider a {
	border: 0px currentColor; border-image: none; display: block;
}
.theme-default .nivo-controlNav {
	padding: 15px 0px; width: 100%; text-align: center; z-index: 99;
}
.theme-default .nivo-controlNav a {
	background: url("bullets.png") no-repeat; margin: 0px 2px; border: 0px currentColor; border-image: none; width: 22px; height: 22px; text-indent: -9999px; display: inline-block;
}
.theme-default .nivo-controlNav a.active {
	background-position: 0px -22px;
}
.theme-default .nivo-directionNav a {
	background: url("arrows.png") no-repeat; border: 0px currentColor; transition:200ms ease-in-out; border-image: none; width: 30px; height: 30px; text-indent: -9999px; display: block; opacity: 0; -webkit-transition: all 200ms ease-in-out; -moz-transition: all 200ms ease-in-out; -o-transition: all 200ms ease-in-out;
}
.theme-default:hover .nivo-directionNav a {
	opacity: 1;
}
.theme-default a.nivo-nextNav {
	background-position: -30px 0px; right: 15px;
}
.theme-default a.nivo-prevNav {
	left: 15px;
}
.theme-default .nivo-caption {
	font-family: Helvetica, Arial, sans-serif;
}
.theme-default .nivo-caption a {
	color: rgb(255, 255, 255); border-bottom-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: dotted;
}
.theme-default .nivo-caption a:hover {
	color: rgb(255, 255, 255);
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled {
	width: 100%;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled a {
	background: none; width: auto; height: auto; margin-bottom: 5px;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled img {
	height: auto; display: block;
}
